@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1168px;
  width: 95%;
  margin: 0 auto;
}

input {
  width: 80%;
  height: 40px;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
}

.header {
  margin: 20px auto;
  text-align: center;
}

.item {
  text-align: center;
}

.item:nth-child(even) {
  background-color: #e8e8e8;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}

p {
  font-size: 18px;
  font-weight: 500;
}